key-location: ./client_secrets.p12
service-email: ga-referral-spam@your-app-service-domain.iam.gserviceaccount.com

# Configure the items below after you get your key and service-email setup
domain-list-location: ./spammers.txt

# If you have your key and service-email, use the list* commands to get these.
ga-account-id: 12345678
ga-property-id: UA-12345678-1
ga-view-id: 87654321
